<div class="container main-container">
    <div class="row justify-content-center">
      <div class="col-6">
        <div class="row justify-content-center">
            <h1>List of patients</h1>
            <br>
            <br>
        </div>
        <head>
        <style>
            table {
                font-family: arial, sans-serif;
                border-collapse: collapse;
                width: 100%;
            }

            td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 2px;
            }
        </style>
        </head>
        <body>

            <div style="overflow-x:auto;">
                <table>
                    <tr>
                        <th>Id</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Birth Date</th>
                        <th>City</th>
                        <th>Country</th>
                        <th>Phone Number</th>  
                    </tr>
                    <tr *ngFor="let d of data | async" [attr.id]="d.id"> 
                        <td>{{ d.id }}</td>
                        <td>{{ d.firstName }}</td>
                        <td>{{ d.lastName }}</td>
                        <td>{{ d.birthDate }}</td>
                        <td>{{ d.city }}</td>
                        <td>{{ d.country }}</td>
                        <td>{{ d.phoneNumber }}</td>
                        <button id="remove" (click)="delete(d.id)">DELETE ROW</button>
                    </tr>
                </table>
            </div>   
        </body>
        </div>
    </div>
</div>
