<div class="container-fluid">
  <div class="row">
    <div class="col header">
      <div class="container">
        <a href="#" class="navbar-brand" routerLink="/home">Dental clinic</a>
        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Patients</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem routerLink="/add">Adding</button>
            <button ngbDropdownItem routerLink="/list">List</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
