<div class="container main-container">
  <div class="row justify-content-center">
    <div class="col-6">
      <div [formGroup]="patientFormGroup.get('basicData')">
        <div class="form-group titleText">
          <p>Add a new patient</p>
        </div>
        <div class="form-group">
          <label for="inputFirstName">First name</label>
          <input class="form-control" id="inputFirstName" placeholder="Enter first name" formControlName="firstName">
          <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="alert alert-danger">
            <div *ngIf="firstName.errors.required">
              First name is required.
            </div>
            <div *ngIf="firstName.errors.minlength">
              First name must be at least 2 characters long.
            </div>
            <div *ngIf="firstName.errors.pattern">
              First name cannot be a number.
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="inputLastName">Last name</label>
          <input class="form-control" id="inputLastName" placeholder="Enter last name" formControlName="lastName">
          <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="alert alert-danger">
            <div *ngIf="lastName.errors.required">
              Last name is required.
            </div>
            <div *ngIf="lastName.errors.minlength">
              Last name must be at least 2 characters long.
            </div>
            <div *ngIf="lastName.errors.pattern">
              Last name cannot be a number.
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="inputBirthDate">Birth date</label>
          <div class="input-group">
            <input class="form-control" id="inputBirthDate" placeholder="YYYY-MM-DD" formControlName="birthDate" #d1
                   ngbDatepicker #d="ngbDatepicker" required>
            <div class="input-group-append">
              <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
            </div>
          </div>
          <div *ngIf="birthDate.invalid && (birthDate.dirty || birthDate.touched)" class="alert alert-danger">
            <div *ngIf="birthDate.errors.required">
              Birth date is required.
            </div>
            <div *ngIf="birthDate.errors.pattern">
              Incorrect date format. Please use YYYY-MM-DD.
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="inputCity">City</label>
          <input class="form-control" id="inputCity" placeholder="Enter a city" formControlName="city">
          <div *ngIf="city.invalid && (city.dirty || city.touched)" class="alert alert-danger">
            <div *ngIf="city.errors.required">
              City is required.
            </div>
            <div *ngIf="city.errors.minlength">
              City must be at least 2 characters long.
            </div>
            <div *ngIf="city.errors.pattern">
              City cannot be a number.
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="inputCountry">Country</label>
          <input class="form-control" id="inputCountry" placeholder="Enter a coutnry" formControlName="country">
          <div *ngIf="country.invalid && (country.dirty || country.touched)" class="alert alert-danger">
            <div *ngIf="country.errors.required">
              Country is required.
            </div>
            <div *ngIf="country.errors.minlength">
              Country must be at least 2 characters long.
            </div>
            <div *ngIf="country.errors.pattern">
              Country cannot be a number.
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="inputPhoneNumber">Phone number</label>
          <input class="form-control" id="inputPhoneNumber" placeholder="053 123 456"
                 formControlName="phoneNumber">
          <div *ngIf="phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched)" class="alert alert-danger">
            <div *ngIf="phoneNumber.errors.required">
              Phone number is required.
            </div>
            <div *ngIf="phoneNumber.errors.pattern">
              Phone number must be xxx xxx xxx.
            </div>
          </div>
        </div>
        <button class="btn btn-primary" (click)="goNextPage()">Next</button>
      </div>
    </div>
  </div>
</div>
