<div [formGroup]="toothFormGroup">
  <div>
    <div class="btn-group btn-group-toggle">
      <p>{{i+1}}.</p>
      <label class="btn-primary" ngbButtonLabel>
        <input type="checkbox" formControlName="healthy" ngbButton (change)="stateOfTeeth()"> Healthy
      </label>
      <label class="btn-primary" ngbButtonLabel>
        <input type="checkbox" formControlName="toothDecay" ngbButton (change)="stateOfTeeth()"> Tooth
        decay
      </label>
      <label class="btn-primary" ngbButtonLabel>
        <input type="checkbox" formControlName="repaired" ngbButton (change)="stateOfTeeth()">
        Repaired
      </label>
      <label class="btn-primary" ngbButtonLabel>
        <input type="checkbox" formControlName="extracted" ngbButton (change)="stateOfTeeth()">
        Extracted
      </label>
    </div>
  </div>
</div>
