<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="container main-container">
        <ngb-carousel *ngIf="images">
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img [src]="images[0]">
            </div>
            <div class="carousel-caption caption">
              <p>If you need a good dentist, please call 053/201-222 and order your appointment.</p>
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img [src]="images[1]">
            </div>
            <div class="carousel-caption caption">
              <p>We care about your teeth.</p>
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img [src]="images[2]">
            </div>
            <div class="carousel-caption caption">
              <p>Children really like us.</p>
            </div>
          </ng-template>
        </ngb-carousel>
      </div>
    </div>
  </div>
</div>
