<div class="row justify-content-center" [formGroup]="jawFormGroup">
  <div class="col-4">
    <p>Upper left jaw:</p>
  </div>
  <div class="col-4">
    <p>Upper right jaw</p>
  </div>

  <div class="row justify-content-center" *ngFor="let i of [0,1,2,3,4,5,6,7];">
    <div class="col-6" *ngFor="let jaw of ['upperLeft', 'upperRight'];">
      <app-tooth [toothFormGroup]="jawFormGroup.get(jaw).get('tooth').at(i)"
                 [i]="i"></app-tooth>
    </div>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-4">
    <p>Lower left jaw:</p>
  </div>
  <div class="col-4">
    <p>Lower right jaw</p>
  </div>

  <div class="row justify-content-center" *ngFor="let i of [0,1,2,3,4,5,6,7];">
    <div class="col-6" *ngFor="let jaw of ['lowerLeft', 'lowerRight'];">
      <app-tooth [toothFormGroup]="jawFormGroup.get(jaw).get('tooth').at(i)"
                 [i]="i"></app-tooth>
    </div>
  </div>
</div>
