<div class="container main-container" [formGroup]="patientFormGroup.get('teeth')">
  <div class="row justify-content-center">
    <div class="col-6">
      <div class="form-group titleText">
        <p>Add a state of teeth</p>
      </div>
    </div>
  </div>

  <app-jaw [jawFormGroup]="patientFormGroup.get('teeth')"></app-jaw>

  <div class="row justify-content-center">
    <div class="button">
      <button class="btn btn-primary btn-lg" (click)="save()">Save</button>
    </div>
  </div>
</div>
